- return if @issue.work_item_type&.incident?

- if @project.design_management_enabled?
  - add_page_startup_graphql_call('design_management/get_design_list', { fullPath: @project.full_path, iid: @issue.iid.to_s, atVersion: nil })
  - add_page_startup_graphql_call('design_management/design_permissions', { fullPath: @project.full_path, iid: @issue.iid.to_s })
  .js-design-management{ data: { project_path: @project.full_path,
    issue_iid: @issue.iid,
    issue_path: project_issue_path(@project, @issue),
    register_path: new_user_registration_path(redirect_to_referer: 'yes'),
    sign_in_path: new_session_path(:user, redirect_to_referer: 'yes'),
    new_comment_template_path: profile_comment_templates_path } }
